@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type=password]::-ms-reveal,
  input[type=password]::-ms-clear {
    display: none;
  }

  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}